<h1>Vendedores</h1>
<% if flash[:notice] %>
<%= stylesheet_link_tag 'default' %>
<p style="color: green; font-style: italic"><%= flash[:notice] %></p>
<% end %>

<p> <%= link_to "Novo Vendedor", :action => "edit" %></p>
<table border="0" cellpading="1" cellpacing="1">
<tbody>
<tr>
	<tt></tt>
	<tt></tt>
	<tt></tt>
	<tt></tt>
</tr>
<% @vendedores.each do |vendedor| %>
<tr>
	<td><%= vendedor.nome %><td>
	<td><%= vendedor.fone %><td>
	<td>
		<%= link_to "Editar", :action => "edit", :id => vendedor %> ou
		<%= link_to "Excluir", { :action => "delete", :id => vendedor }, :confirm => "Deseja realmente excluir o vendedor?" %>
	</td>
</tr>
<tbody>
<% end %>
</table>